include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://img.icons8.com/pastel-glyph/64/000000/hearts.png" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    title Minimo
  body
    .wrapper
      .maincontent
        section.main  
          header
            .container
              nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-minimo(href="#") Minimø
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                  span.navbar-toggler-icon
                .collapse.navbar-collapse(id="navbarSupportedContent")
                  ul.navbar-nav.ml-auto
                    li.nav-item
                      a.nav-link(id="minimo-link" href="#") Lifestyle
                    li.nav-item
                      a.nav-link(id="minimo-link" href="#") Photodiary
                    li.nav-item
                      a.nav-link(id="minimo-link" href="#") Music
                    li.nav-item
                      a.nav-link(id="minimo-link" href="#") Travel
                    li.
          .photodiary  
            .container.slider
              .carousel.slide.carousel-fade(id="slider" data-ride="carousel")
                ol.carousel-indicators
                  li.active(data-target="#slider" data-slide-to="0")
                  li(data-target="#slider" data-slide-to="1")
                .carousel-inner
                  .carousel-item.active
                    +image('header-img.png', 'd-block w-100')
                  .carousel-item
                    img.d-block.w-100(src="https://picsum.photos/1062/510?grayscale" alt="Lorem picsum")
                a.carousel-control-prev(href="#slider" role="button" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")
                  span.sr-only Previous
                a.carousel-control-next(href="#slider" role="button" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
                  span.sr-only Next
            .container.container--content  
              .photodiary-desc
                span.notes Photodiary
                h1.page-title The perfect weekend getaway
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                span.notes Leave a comment
        section.signup
          .signup-field
            h3.page-title Sign up for our newsletter!
            form.signup-form
              .signup-block
                input.signup-input(type="email" name="email" placeholder="Enter a valid email address")
                button.signup-input-visual
                  +icon('arrow', 'signup-icon')
        section.gallery
          .container.container--content.container--gallery 
            ul.gallery-list(id="gallery-list")
              li.gallery-item
                +image('music.png', 'd-block w-100 gallery-img')
                span.notes Lifestyle
                h2.page-title More than just a music festival
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              li.gallery-item
                +image('coffee.png', 'd-block w-100 gallery-img')
                span.notes Lifestyle
                h2.page-title Life tastes better with coffee
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              li.gallery-item
                +image('america.png', 'd-block w-100 gallery-img')
                span.notes Photodiary
                h2.page-title American dream
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              li.gallery-item
                +image('alps.png', 'd-block w-100 gallery-img')
                span.notes Photodiary
                h2.page-title A day exploring the Alps
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              li.gallery-item
                +image('running.png', 'd-block w-100 gallery-img')
                span.notes Lifestyle
                h2.page-title Top 10 song for running
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              li.gallery-item
                +image('road.png', 'd-block w-100 gallery-img')
                span.notes Lifestyle
                h2.page-title Cold winter days
                p.page-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            .page-buttons
              button.load(type="button" id="load-btn") 
                span.spinner-grow.spinner-grow-sm(role="status" aria-hidden="true" id="spinner")
                p.load-text Load more
        footer.footer
          .container.container--footer
            .footer-author
              p.footer-author-text Made with love by:
              p.footer-author-name Nikulnikov Maksim
            .footer-socials
              p.footer-socials-text Follow
              ul.footer-socials-list
                li.footer-socials-item
                  a.footer-socials-link(href="https://instagram.com/maxnikulnikov")
                    +icon('insta', 'footer-socials-icon')
                li.footer-socials-item
                  a.footer-socials-link(href="https://vk.com/max_nikulnikov")
                    +icon('vk', 'footer-socials-icon')
                li.footer-socials-item
                  a.footer-socials-link(href="https://github.com/maxnhub")
                    +icon('github', 'footer-socials-icon')


    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")